@charset "utf-8";

div#titulo{
    background-color: #F8F9FA;
    margin-bottom: 0px;
}

div#titulo > h1{
    font-size: 4rem;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 7px;
    margin-bottom: 0px;
}

@media(max-width: 990px) {
    div#titulo > h1 {
     font-size: 2.2rem;
    }
}